.container {
  min-height: 10rem;
  max-height: 25rem;
  overflow: auto;
  width: 50%;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 16px;
  margin: 1rem auto;
}
.audit {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 0;
}
.audit:nth-child(even) {
  background-color: rgba(128, 127, 127, 0.233);
}
.block {
  display: flex;
  gap: 10px;
}
.desc {
  color: #f84018;
  text-transform: uppercase;
  font-weight: bold;
}
.val {
  color: aliceblue;
}
.add {
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  width: fit-content;
}
.add:hover {
  opacity: 1;
  border-bottom: 2px solid aliceblue;
}
