.container {
  max-height: 15rem;
  overflow: auto;
  width: 40%;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 16px;
  margin: 1rem auto;
}
.container::-webkit-scrollbar {
    width: 4px;
    background-color: #535151;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .container::-webkit-scrollbar-thumb {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f84018;
  }
  
.audit {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2px 0;
}
.audit:nth-child(even) {
  background-color: rgba(128, 127, 127, 0.233);
}
.block {
  display: flex;
  gap: 10px;
  width: 40%;
}
.desc {
  color: #f84018;
  text-transform: uppercase;
  font-weight: bold;
}
.val {
  color: aliceblue;
}
.add,.close {
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  width: fit-content;
}
.add:hover , .close:hover{
  opacity: 1;
  border-bottom: 2px solid aliceblue;
}
.close:hover{
  border-bottom: 2px solid red;

}
.close{
    color: red;
    font-weight: bolder;
    margin-bottom: 0;
}
.ccon{
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
}
.notFound{
    color: aliceblue;
    text-transform: uppercase;
}
.searchmlle{
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
    width: 19rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #f84018;
    background-color: #00000077;
}