.title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1rem;
}
.title h1, .title h4 {
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
}
.line {
  width: 40%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 4px solid #f84018;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: -7px;
}
.inputD {
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 4rem;
  z-index: 1111;
}
.inputD input {
  height: 2rem;
  width: 10rem;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid transparent;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  width: 10rem;
  text-align: center;
  padding: 10px;
}
.inputD input:focus,
.inputD input:hover {
  outline: none;
  /* border-color: #f84018; */
  border-color: transparent;
  /* cursor: pointer; */
}
.inputD h3 {
  text-align: left;
  text-transform: uppercase;
  color: #f84018;
}
.inputD input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  background-color: #f84018;
  padding: 5px;
}
.inputD input[type="date"]::-webkit-calendar-picker-indicator:hover{
    transform: scale(1.2);
    background-color: #fd7d61;
}
.chart{
    width: 30%;
    height: 15rem;
    padding: 3rem 0;
    border-radius: 20px;
}
.crewChartContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 0;
}