.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11111;
  width: 80%;
  background-color: black;
  padding: 2rem 1rem;
  border-radius: 14px;
}
.container h3 {
  color: antiquewhite;
  margin: 0;
}
.form {
  margin-top: 1rem;
}
.selectsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inputContainer {
  width: 45%;
}
.inputContainer label {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: small;
}
.form button{
    width: 90%;
    background-color: black;
    border: 1px solid #8a8989;
    border-radius: 10px;
    color: #8a8989;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
}
.form button:hover{
    background-color: rgb(31, 30, 30);
    transform: scale(1.02);
    border: 1px solid #f33716;
    color: #f33716;
}
.tasksHolder{
    width: 100%;
    display: flex;
}
.taskType{
    width: 33%;
    color: aliceblue;
}
.taskType h4{
    text-transform: uppercase;
    color: #f33716;
}