.chartHolder{
    height: 100%;
    width: 100%;
}

.title{
    display: flex;
    margin: auto;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
}
.title span{
    width: 1rem;
    height: 1rem;
    background-color: #f84018;
    border-radius: 50%;
}
.title h3{
    color: aliceblue;
    text-transform: uppercase;
}
